html,
body {
  @include default-font;
  @include default-colors;
  background-color: #2c3639;

}

span {
  color: $color-theme;
}


.timeline {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5rem;
  overflow: hidden;
  height: 700px;

}

.timeline .line {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  border-right: 2.5px dashed $color-theme;
  height: 100%;
}







// .timeline-row {
//   padding-left: 50%;
//   position: relative;
//   margin-bottom: 30px;
// }

// .timeline-row .timeline-time {
//   position: absolute;
//   right: 50%;
//   top: 15px;
//   text-align: right;
//   margin-right: 20px;
//   color: #bcd0f7;
//   font-size: 1.5rem;
// }

// .timeline-row .timeline-time small {
//   display: block;
//   font-size: 0.8rem;
// }

// .timeline-row .timeline-content {
//   position: relative;
//   padding: 20px 30px;
//   background: #1a233a;
//   -webkit-border-radius: 4px;
//   -moz-border-radius: 4px;
//   border-radius: 4px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   text-align: center;
// }

// .timeline-row .timeline-content:after {
//   content: "";
//   position: absolute;
//   top: 20px;
//   height: 16px;
//   width: 16px;
//   background: #1a233a;
// }

// .timeline-row .timeline-content:before {
//   /* content: ""; */
//   position: absolute;
//   top: 20px;
//   right: -49px;
//   width: 20px;
//   height: 20px;
//   -webkit-border-radius: 100px;
//   -moz-border-radius: 100px;
//   border-radius: 100px;
//   z-index: 10;
//   background: #272e48;
//   border: 2px dashed #4b546f;
// }

// .timeline-row .timeline-content h4 {
//   margin: 0 0 20px 0;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   line-height: 150%;
// }

// .timeline-row .timeline-content p {
//   margin-bottom: 30px;
//   line-height: 150%;
// }

// .timeline-row .timeline-content i {
//   font-size: 1.2rem;
//   line-height: 100%;
//   padding: 15px;
//   -webkit-border-radius: 100px;
//   -moz-border-radius: 100px;
//   border-radius: 100px;
//   background: #272e48;
//   margin-bottom: 10px;
//   display: inline-block;
// }

// .timeline-row .timeline-content .thumbs {
//   margin-bottom: 20px;
//   display: flex;
// }

// .timeline-row .timeline-content .thumbs img {
//   margin: 5px;
//   max-width: 60px;
// }

// .timeline-row .timeline-content .badge {
//   color: #ffffff;
//   background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
// }

// .timeline-row:nth-child(even) .timeline-content {
//   margin-left: 40px;
//   text-align: left;
// }

// .timeline-row:nth-child(even) .timeline-content:after {
//   left: -8px;
// }