
$breakpoint-xs: 350px;      
$breakpoint-sm: 450px;     
$breakpoint-md: 840px;      
$breakpoint-lg: 992px;      
$breakpoint-xl: 1200px;     
$breakpoint-xxl: 1400px;    
$breakpoint-xxxl: 1920px;   


$minmaxwidth-xs: $breakpoint-xs;
$minmaxwidth-sm: $breakpoint-sm;
$minmaxwidth-md: $breakpoint-md;
$minmaxwidth-lg: $breakpoint-lg;
$minmaxwidth-xl: $breakpoint-xl;
$minmaxwidth-xxl: $breakpoint-xxl;
$minmaxwidth-xxxl: $breakpoint-xxxl;


@mixin xs {
    @media (min-width:320px) and (max-width: 370px) {
      @content
    }
  }

@mixin sm {
  @media (min-width:370px) and (max-width: 450px) {
    @content
  }
}

@mixin md {
  @media (min-width:450px) and (max-width: 992px) {
    @content
  }
}

@mixin lg {
  @media (min-width:840px) and (max-width: 992px) {
    @content
  }
}

@mixin xl {
  @media (min-width:992px) and (max-width: 1200px) {
    @content
  }
}

@mixin xxl {
  @media (min-width: 1200px) and (max-width: 1400px) {
    @content
  }
}

@mixin xxxl {
  @media (min-width:1400px) and (max-width: 1920px) {
    @content
  }
}
