.about-me {
    margin-top: 20rem;
    .cont {
        @include content-center;
        border-radius: 10px;
     
    }

    .content-card {
        z-index: 998;

        background-color: $color-dark-2;
        border-radius: 40px;
        height: auto;
        // width: 1000px;
        width: 65vw;
        border: thin solid $color-theme;
        box-shadow: 0 0 3px 1px $color-dark-2;

        transition: transform 0.5s ease; 

        &:hover {
            transform: scale(1.01);
         
        }

        .body {
            color: $color-light-2;


            
            h2 {
                color: $color-light-2;
                font-weight: 400;
                font-size: 2em;
                margin-bottom: 20px;
                text-align: center;
                margin-top: 1rem;
            }

            .text {
                @include content-center;

                p {
                    padding-top: 0.625rem;
                    padding-bottom: 1.25rem;
                    font-size: 1.2em;
                    width: 75vh;
                    font-weight: 400;
                }
            }
        }
    }

}

@include sm {
    .about-me {
        .cont {
            
        }
        .content-card {
        width: 90%;
        width: 98vw;

          
            &:hover {
             
            }
    
            .body {
    
                h2 {
               
                }
    
                .text {
                    margin-left: 1rem;
                    text-align: left ;
    
                    p {
                        font-size: 0.9em;
                 
                    }
                }
            }
        }
    }
}