.contact {
    .cont {
        @include content-center;
        border-radius: 10px;

    }

    .content-card {
        border-radius: 40px;
        background-color: $color-dark-2;
        height: auto;
        width: 600px;
        border: thin solid $color-theme;
        box-shadow: 0 0 3px 1px $color-dark-2;
        padding: 2rem;
        transition: transform 0.5s ease;


        form {

            h2 {
                color: $color-light-2;
                font-weight: 400;
                font-size: 2em;
                margin-bottom: 20px;
                text-align: center;
            }

            input {

                max-width: 100%;
                margin-bottom: 1rem;
            }

            textarea {
                max-width: 100%;
                resize: none;
            }

            .error{
                margin-top: 10px;
                color: red;
            }
        }

    }

}