.experience {
    .cont {
        @include content-center;
        border-radius: 10px;

    }

    .content-card {
        z-index: 998;
        background-color: $color-dark-2;
        border-radius: 40px;
        height: auto;
        width: 1000px;
        border: thin solid $color-theme;
        box-shadow: 0 0 3px 1px $color-dark-2;

        transition: transform 0.5s ease;
        backface-visibility: hidden;

      

        .body {
            color: $color-light-2;

            h2 {
                color: $color-light-2;
                font-weight: 400;
                font-size: 2em;
                margin-bottom: 20px;
                text-align: center;
                margin-top: 1rem;
            }

            .icons {
                padding-top: 1rem;
                text-align: center;
                @include content-center;
                display: flex;
                flex-wrap: wrap;

                .icon-container{
                    width: 75vh;
                    padding-top: 0.625rem;
                    padding-bottom: 1.25rem;
                    font-size: 5em;
                    font-weight: 400;
                    padding-bottom: 1rem;
                    flex-basis: 33.33%;

                    .icon {
                        color: $color-light-2;
                        
                        &:hover{
                            color: $color-theme;
                            transition-duration: 0.2s;
                        }
                    }
                    
                }
            }

        }
    }
}

@include sm {
    .experience {
        .content-card {
            width: 90%;
            width: 98vw;
        }
    }
}
@include md {
    .experience {
        .content-card {
            width: 90vw;
        }

    }
}