footer {
    margin-top: 7rem;
    background-color: $color-shadow-1;
    height: auto;

    .container {
        @include content-center;
        justify-content: space-between;
        max-width: 1200px;
    }

    p {
        margin-bottom: -0.0rem !important;
    }

    .contact-details {
        padding-top: 1rem;

        .phone {
            @include content-center;
            justify-content: left;

            a {
                margin-left: 0.5rem;
                text-decoration: none;
                color: $color-theme;
            }
        }

        .mail {
            margin-top: 2px;
            @include content-center;

            a {
                margin-left: 1rem;
                text-decoration: none;
                color: $color-theme;
            }
        }

        padding-bottom: 2rem;
    }

    .links {
        @include content-center;
        gap: 1rem;
        font-size: 3rem;

        .media-link {
            color: $color-light-1;
            transition: background-color 0.25s, color 0.22s;

        }
        .media-link:hover{
            color: $color-theme;
        }

    }



}