header {
  z-index: 999;
  font-size: 1.5em;
  box-shadow: 0 0 2px 1px $color-shadow-1;
  top: 0;
  position: sticky;
  background-color: $color-shadow-1;

  .cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "weather links";

    .weather {
      grid-area: weather;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: $color-light-2;
      }

      .weather-icon {
        margin-left: 1rem;
        margin-top: 1px;
      }
    }

    .links {
      grid-area: links;
      display: flex;
      justify-content: center;
      margin-left: 9rem;

      .link {
        font-weight: $font-weight-light;
        color: $color-light-2;
        text-decoration: none;
        transition: color 0.15s;
        margin: 10px 13px;

      }
    }

    .toggle-button {

      grid-area: toggle;
      display: flex;
      justify-content: center;
      margin-left: 9rem;
      height: auto;
      display: none;


      button {
        background-color: $color-shadow-1;
        color: $color-light-2;


      }

    }
  }
}


@media (max-width: 900px) {

  header {
    .cont {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "weather toggle"
        "links links";

      .toggle-button {
        display: flex;
        background-color: $color-shadow-1;
        color: $color-shadow-1;
      }

      .weather {

        .hide {
          display: none;
        }

        .weather-icon {}
      }

      .links {
        grid-area: links;
        margin-top: 1rem;
        display: grid;
        justify-content: center;
        gap: 0.5rem;
        margin-left: 0px;
        display: none;


        .link {}
      }
    }
  }

}

@media (max-width: 750px) {
  header {
    .cont {
      .hide {
        display: none;
      }
    }
  }
}