.landing-page {
    margin-top: 3.125rem;
    text-align: center;
    height: 100vh;

    .container {
        display: grid;
        place-items: center;
    }

    h1 {
        color: $color-light-2;
        font-weight: 400;
        font-size: 3em;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
        font-size: 1em;
    }

    .image-container {
        @include content-center;
        width: 40%;

        .main-img-2 {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }

    .button-group {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .next-section {
        margin-top: 1.5rem;

    }
}


@include xs {
    .landing-page {
        margin-top: 0.5rem;
        margin-top: 1em;

        h1 {
            font-size: 1.5em;
        }

        .button-group {
            margin-top: 20px;
        }

        .image-container {
            width: 60%;
        }
    }


}

@include sm {
    .landing-page {
        margin-top: 0.5rem;

        h1 {

            font-size: 2em;
        }

        .image-container {
            width: 60%;
        }

        .button-group {
            margin-top: 50px;
        }

        .next-section {
            margin-top: 1rem;
        }
    }
}

@include md {

    .landing-page {
        h1 {}

        .image-container {
            width: 60%;

        }

        .button-group {
            margin-top: 50px;
        }

        .next-section {
            margin-top: 1rem;
        }
    }
}

@media (min-width:992px) and (max-width: 1900px) {

    .landing-page {
        h1 {}

        .image-container {
            width: 30%;

        }

        .button-group {
            margin-top: 50px;
        }

        .next-section {
            margin-top: 1rem;
        }
    }
}