.portfolio {
  .timeline {
    position: relative;
    border-radius: 4px;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow: hidden;
    height: auto !important;

    .line {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -2px;
      border-right: 2.5px dashed $color-theme;
      height: 100%;
    }

    .timeline-row {
      padding-left: 50%;
      position: relative;
      margin-bottom: 30px;


      .tech-stack-icons{
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 20px;

        .icon{
          color: $color-light-2;
          padding-bottom: 1.25rem;
          font-size: 2em;
          font-weight: 200;

        }

      }

      .timeline-date {
        position: absolute;
        right: 50%;
        top: 15px;
        text-align: right;
        margin-right: 20px;
        color: $color-light-2;
        font-size: 1.5rem;

        .month {
          display: block;
          font-size: 0.8rem;
        }
      }

      .timeline-content {
        position: relative;
        padding: 20px 30px;
        background: $color-dark-2;
        border: thin solid $color-theme;
        box-shadow: 0 0 3px 1px $color-dark-2;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        text-align: left;
        border-radius: 1%;


        h3 {
          padding-bottom: 1rem;
        }
      }


      //Squares
      .timeline-content:before {
        content: "";
        position: absolute;
        top: 20px;
        right: -50.3px;
        width: 20px;
        height: 20px;
        background: $color-theme;
        border: 2px dashed $color-theme;
      }

      //Pointer
      .timeline-content:after {
        content: "";
        position: absolute;
        height: 16px;
        width: 16px;
        background: $color-dark-2;
        transform: rotate(-135deg);
      }

      p {
        line-height: 150%;
      }
    }

    .timeline-row:nth-child(even) {
      .timeline-content {
        margin-left: 40px;
        text-align: left;

        &:after {
          left: -8px;
        }

        &:before {
          left: -52px;
        }
      }
    }

    .timeline-row:nth-child(odd) {
      padding-left: 0;
      padding-right: 50%;

      .timeline-date {
        right: auto;
        left: 50%;
        text-align: left;
        margin-right: 0;
        margin-left: 20px;
      }

      .timeline-content {
        margin-right: 40px;

        &:after {
          right: -8px;
          border-left: 0;
          border-bottom: 0;
          transform: rotate(45deg);
        }
      }
    }

  
  }
}


@media (max-width: 840px) {

  .portfolio {
    .timeline {
      h2 {
        margin-top: 1rem;
      }

      .line {
        z-index: 997;
      }

      .timeline-row {
        z-index: 998;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;

        .timeline-date {
          position: relative;
          right: auto;
          left: auto;
          text-align: center;
          margin-right: 0;
          margin-left: 0;
        }

        .timeline-content {
          margin-right: 0;
          margin-left: 0;
          width: 95vw;
        }

        .timeline-content:before,
        .timeline-content:after {
          display: none;
        }
      }

      .timeline-row:nth-child(odd) {

        padding-right: 0%;

        .timeline-content {
          margin-right: 0px;

        }

        .timeline-date {
          left: 25%;
          text-align: center;
          margin-right: 16rem;
          margin-left: 0px;
          justify-content: flex-start;
          align-self: baseline;
        }


      }

      .timeline-row:nth-child(even) {

        .timeline-date {
          left: 25%;
        }

        .timeline-content {
          margin-left: 0px;
        }
      }
    }
  }
}


@mixin lg {
  .portfolio {
    .timeline {
      .timeline-row {

        .timeline-content {
        }
      }
    }

  }
}